<% layout("/layouts/boilerplate") -%>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="bathroom.css">
</head>

<body>
    <%- include("includes/header") %>

    <div class="bathroommain">
        <div class="bathroomimg bathimg1 ">
            <img src="./Images/bathroomimg1.jpg" alt="bathroomimg">
        </div>
        <div class="bathhead">
            <h2>Bathroom Remodeling in NYC</h2>
            <h3>
                Let us create your dream bathroom! Our team are experts
                at creating luxury bathroom havens while maximizing the
                small spaces typical of New York.
            </h3>
            <button>Get an Estimate</button>
        </div>
        <div class="bathroomimg bathimg2" >
            <img src="./Images/bathroomimg2.jpg" alt="bathroomimg2">
        </div>
    </div>
   <p class="msg">
        We’ll handle everything for you, from initial design to the final finishes for your bathroom.
    </p>
    <div>
        <h2 class="reviewhead">Our customers are raving about us</h2>
        <div class="rate">
            <div class="container1">
    
                <div class="slide">
        
                    
                    <div class="item" style="background-image: url(https://i.ibb.co/qCkd9jS/img1.jpg);">
                        <div class="content">
                            <div class="name">1</div>
                            <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                            <button>See More</button>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(https://i.ibb.co/jrRb11q/img2.jpg);">
                        <div class="content">
                            <div class="name">2</div>
                            <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                            <button>See More</button>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(https://i.ibb.co/NSwVv8D/img3.jpg);">
                        <div class="content">
                            <div class="name">3</div>
                            <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                            <button>See More</button>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(https://i.ibb.co/Bq4Q0M8/img4.jpg);">
                        <div class="content">
                            <div class="name">4</div>
                            <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                            <button>See More</button>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(https://i.ibb.co/jTQfmTq/img5.jpg);">
                        <div class="content">
                            <div class="name">5</div>
                            <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                            <button>See More</button>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(https://i.ibb.co/RNkk6L0/img6.jpg);">
                        <div class="content">
                            <div class="name">6</div>
                            <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                            <button>See More</button>
                        </div>
                    </div>
        
                </div>
        
                <div class="button">
                    <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
                    <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
        
        
        
        
    </div>
 
    <div class="carousel-container">
        <div class="carousel-track">
            
            <div class="carousel-slide">
                <div class="slide-image">
                    <img src="https://i.ibb.co/qCkd9jS/img1.jpg" alt="Slide 1">
                </div>
                <div class="slide-content">
                    <h2 class="slide-title">Title 1</h2>
                    <p class="slide-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
                </div>
            </div>
          
            <div class="carousel-slide">
                <div class="slide-image">
                    <img src="https://i.ibb.co/jrRb11q/img2.jpg" alt="Slide 2">
                </div>
                <div class="slide-content">
                    <h2 class="slide-title">Title 2</h2>
                    <p class="slide-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
                </div>
            </div>
            
            <div class="carousel-slide">
                <div class="slide-image">
                    <img src="https://i.ibb.co/NSwVv8D/img3.jpg" alt="Slide 3">
                </div>
                <div class="slide-content">
                    <h2 class="slide-title">Title 3</h2>
                    <p class="slide-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
                </div>
            </div>
            
            <div class="carousel-slide">
                <div class="slide-image">
                    <img src="https://i.ibb.co/Bq4Q0M8/img4.jpg" alt="Slide 4">
                </div>
                <div class="slide-content">
                    <h2 class="slide-title">Title 4</h2>
                    <p class="slide-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
                </div>
            </div>
            
            <div class="carousel-slide">
                <div class="slide-image">
                    <img src="https://i.ibb.co/jTQfmTq/img5.jpg" alt="Slide 5">
                </div>
                <div class="slide-content">
                    <h2 class="slide-title">Title 5</h2>
                    <p class="slide-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
                </div>
            </div>
        </div>
      
        <div class="carousel-buttons">
            <button class="carousel-prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="carousel-next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </div>
      <h2 class="main-header">My Creative Layout</h2>
    
      <div class="container-overview">
  
          <div class="section-portal">
              <div class="content-pair">
                  <div class="text-panel">
                      <h2>Highlight 1</h2>
                      <p>This is an engaging description for the first highlight.</p>
                      <ul class="item-list">
                          <li>Feature 1</li>
                          <li>Feature 2</li>
                          <li>Feature 3</li>
                          <li>Feature 4</li>
                          <li>Feature 5</li>
                      </ul>
                  </div>
                  <div class="image-panel">
                      <img src="https://via.placeholder.com/150" alt="Placeholder Image 1">
                  </div>
              </div>
          </div>
  
          <div class="section-portal">
              <div class="content-pair">
                  <div class="text-panel">
                      <h2>Highlight 2</h2>
                      <p>This is an engaging description for the second highlight.</p>
                      <ul class="item-list">
                          <li>Feature 1</li>
                          <li>Feature 2</li>
                          <li>Feature 3</li>
                          <li>Feature 4</li>
                          <li>Feature 5</li>
                      </ul>
                  </div>
                  <div class="image-panel">
                      <img src="https://via.placeholder.com/150" alt="Placeholder Image 2">
                  </div>
              </div>
          </div>
  
          <div class="section-portal">
              <div class="content-pair">
                  <div class="text-panel">
                      <h2>Highlight 3</h2>
                      <p>This is an engaging description for the third highlight.</p>
                      <ul class="item-list">
                          <li>Feature 1</li>
                          <li>Feature 2</li>
                          <li>Feature 3</li>
                          <li>Feature 4</li>
                          <li>Feature 5</li>
                      </ul>
                  </div>
                  <div class="image-panel">
                      <img src="https://via.placeholder.com/150" alt="Placeholder Image 3">
                  </div>
              </div>
          </div>
  
      </div>

      <div class="main-container">
        <h2>Three Divs Layout</h2>

        <div class="vertical-div">
            <div class="text-container">
                <h2>Title 1</h2>
                <p>This is a description for the first div.</p>
            </div>
            <div class="circular-image-container">
                <img src="https://via.placeholder.com/100" alt="Image 1">
            </div>
        </div>

        <div class="vertical-div">
            <div class="text-container">
                <h2>Title 2</h2>
                <p>This is a description for the second div.</p>
            </div>
            <div class="circular-image-container">
                <img src="https://via.placeholder.com/100" alt="Image 2">
            </div>
        </div>

        <div class="vertical-div">
            <div class="text-container">
                <h2>Title 3</h2>
                <p>This is a description for the third div.</p>
            </div>
            <div class="circular-image-container">
                <img src="https://via.placeholder.com/100" alt="Image 3">
            </div>
        </div>
    </div>
    
    <div class="header-section">
        <h2>Sample Heading</h2>
        <div class="content-container">
            <div class="content-block">
                <div class="text-line">
                    <span>Text 1</span>
                    <hr class="divider">
                </div>
                <div class="info-block">
                    <div class="title"><h3>Title 1</h3></div>
                    <div class="description"><p>Description for Title 1.</p></div>
                </div>
            </div>
            <div class="content-block">
                <div class="text-line">
                    <span>Text 2</span>
                    <hr class="divider">
                </div>
                <div class="info-block">
                    <div class="title"><h3>Title 2</h3></div>
                    <div class="description"><p>Description for Title 2.</p></div>
                </div>
            </div>
            <div class="content-block">
                <div class="text-line">
                    <span>Text 3</span>
                    <hr class="divider">
                </div>
                <div class="info-block">
                    <div class="title"><h3>Title 3</h3></div>
                    <div class="description"><p>Description for Title 3.</p></div>
                </div>
            </div>
            <div class="content-block">
                <div class="text-line">
                    <span>Text 4</span>
                    <hr class="divider">
                </div>
                <div class="info-block">
                    <div class="title"><h3>Title 4</h3></div>
                    <div class="description"><p>Description for Title 4.</p></div>
                </div>
            </div>
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veritatis placeat ducimus accusamus autem voluptate at amet nam doloribus debitis sapiente quo consequatur exercitationem culpa, recusandae, rerum sunt ex ipsam?</p>
    <div class="container">
        <div class="trapezium-shape"></div>
        <div class="text-container">
            <h2>Title of the Section</h2>
            <p>This is the first paragraph providing details.</p>
            <p>This is the second paragraph giving additional information.</p>
        </div>
    </div>
    <h2 class="section-heading">Featured Content</h2>
    <div class="content-wrapper">
        <div class="text-box">
            <p class="text-paragraph-one">This is the first paragraph, providing a brief introduction to the content.</p>
            <p class="text-paragraph-two">This is the second paragraph, offering additional information.</p>
        </div>
        <div class="octagon-frame">
            <img src="https://via.placeholder.com/150" alt="Example Image" class="octagon-image">
        </div>
    </div>
    <div class="unique-container">
        <h2 class="unique-title">Our Gallery</h2>
        <div class="flex-row-container">
            <div class="unique-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image" class="unique-image">
                <p class="unique-description">Description of image 1</p>
            </div>
            <div class="unique-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image" class="unique-image">
                <p class="unique-description">Description of image 2</p>
            </div>
            <div class="unique-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image" class="unique-image">
                <p class="unique-description">Description of image 3</p>
            </div>
            <div class="unique-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image" class="unique-image">
                <p class="unique-description">Description of image 4</p>
            </div>
        </div>
    </div>
    <div class="main-gallery-container">
        <h2 class="main-title">Our Gallery</h2>
    
        <div class="gallery-row">
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 1" class="gallery-image">
                <p class="gallery-description">Description of image 1</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 2" class="gallery-image">
                <p class="gallery-description">Description of image 2</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 3" class="gallery-image">
                <p class="gallery-description">Description of image 3</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 4" class="gallery-image">
                <p class="gallery-description">Description of image 4</p>
            </div>
        </div>
    
        <div class="gallery-row">
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 5" class="gallery-image">
                <p class="gallery-description">Description of image 5</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 6" class="gallery-image">
                <p class="gallery-description">Description of image 6</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 7" class="gallery-image">
                <p class="gallery-description">Description of image 7</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 8" class="gallery-image">
                <p class="gallery-description">Description of image 8</p>
            </div>
        </div>
    
        <div class="gallery-row">
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 9" class="gallery-image">
                <p class="gallery-description">Description of image 9</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 10" class="gallery-image">
                <p class="gallery-description">Description of image 10</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 11" class="gallery-image">
                <p class="gallery-description">Description of image 11</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 12" class="gallery-image">
                <p class="gallery-description">Description of image 12</p>
            </div>
        </div>
    
        <div class="gallery-row">
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 13" class="gallery-image">
                <p class="gallery-description">Description of image 13</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 14" class="gallery-image">
                <p class="gallery-description">Description of image 14</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 15" class="gallery-image">
                <p class="gallery-description">Description of image 15</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 16" class="gallery-image">
                <p class="gallery-description">Description of image 16</p>
            </div>
        </div>
    </div>
   <script src="bathroom.js"></script>
</body>
