<% layout("/layouts/boilerplate") -%>
<head>
    <link rel="stylesheet" href="bathroom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <%- include("includes/header") %>

    <div class="bathroommain">
        <div class="bathroomimg bathimg1 ">
            <img src="./Images/bathroomimg1.webp" alt="bathroomimg">
        </div>
        <div class="bathhead">
            <h2>Bathroom Remodeling in NYC</h2>
            <h3>
                Let us create your dream bathroom! Our team are experts
                at creating luxury bathroom havens while maximizing the
                small spaces typical of New York.
            </h3>
            <button>Get an Estimate</button>
        </div>
        <div class="bathroomimg bathimg2" >
            <img src="./Images/bathroomimg2.webp" alt="bathroomimg2">
        </div>
    </div>
   <p class="msg">
        We’ll handle everything for you, from initial design to the final finishes for your bathroom.
    </p>
    <div>
        <h2 class="reviewhead">Our customers are raving about us</h2>
        <div class="rate">
            <div class="container1">
              <div class="slide">
                <!-- Item 1 -->
                <div class="itemc">
                  <div class="item">
                    <div class="top-content">
                      <div class="name">
                        <img src="https://i.ibb.co/qCkd9jS/img1.webp" alt="User" class="user-image">
                        <span class="user-name">Alice</span>
                      </div>
                      <img src="https://icons-for-free.com/iff/png/512/color+google+media+network+social+icon-1320086080668511532.png" alt="Google" class="google-icon">
                    </div>
                    <div class="bottom-content">
                      <div class="stars">
                        <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                      </div>
                      <div class="description">
                        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alice loved the service! Highly recommended for anyone looking for quality and reliability. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quis voluptatem debitis est vero ratione eum atque distinctio at tenetur aperiam praesentium nam vitae minima, facere aspernatur itaque reprehenderit totam.</p>
                      </div>
                    </div>
                  </div>
                  <button class="read-more">Read More</button>
                  <button class="read-less">Read Less</button>
                </div>
          
                <!-- Item 2 -->
                <div class="itemc">
                  <div class="item">
                    <div class="top-content">
                      <div class="name">
                        <img src="https://i.ibb.co/qCkd9jS/img1.webp" alt="User" class="user-image">
                        <span class="user-name">Bob</span>
                      </div>
                      <img src="https://icons-for-free.com/iff/png/512/color+google+media+network+social+icon-1320086080668511532.png" alt="Google" class="google-icon">
                    </div>
                    <div class="bottom-content">
                      <div class="stars">
                        <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                      </div>
                      <div class="description">
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bob appreciated the friendly service!</p>
                      </div>
                    </div>
                  </div>
                  <button class="read-more">Read More</button>
                  <button class="read-less">Read Less</button>
                </div>
          
                <!-- Item 3 -->
                <div class="itemc">
                  <div class="item">
                    <div class="top-content">
                      <div class="name">
                        <img src="https://i.ibb.co/qCkd9jS/img1.webp" alt="User" class="user-image">
                        <span class="user-name">Charlie</span>
                      </div>
                      <img src="https://icons-for-free.com/iff/png/512/color+google+media+network+social+icon-1320086080668511532.png" alt="Google" class="google-icon">
                    </div>
                    <div class="bottom-content">
                      <div class="stars">
                        <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                        <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                      </div>
                      <div class="description">
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Charlie highly values their professional service!</p>
                      </div>
                    </div>
                  </div>
                  <button class="read-more">Read More</button>
                  <button class="read-less">Read Less</button>
                </div>
                <div class="itemc">
                    <div class="item">
                      <div class="top-content">
                        <div class="name">
                          <img src="https://i.ibb.co/qCkd9jS/img1.webp" alt="User" class="user-image">
                          <span class="user-name">Alice</span>
                        </div>
                        <img src="https://icons-for-free.com/iff/png/512/color+google+media+network+social+icon-1320086080668511532.png" alt="Google" class="google-icon">
                      </div>
                      <div class="bottom-content">
                        <div class="stars">
                          <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                          <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                          <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                          <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                          <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                        </div>
                        <div class="description">
                          <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alice loved the service! Highly recommended for anyone looking for quality and reliability.</p>
                        </div>
                      </div>
                    </div>
                    <button class="read-more">Read More</button>
                    <button class="read-less">Read Less</button>
                  </div>
                  <div class="itemc">
                    <div class="item">
                      <div class="top-content">
                        <div class="name">
                          <img src="https://i.ibb.co/qCkd9jS/img1.webp" alt="User" class="user-image">
                          <span class="user-name">Bob</span>
                        </div>
                        <img src="https://icons-for-free.com/iff/png/512/color+google+media+network+social+icon-1320086080668511532.png" alt="Google" class="google-icon">
                      </div>
                      <div class="bottom-content">
                        <div class="stars">
                          <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                          <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                          <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                          <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                          <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                        </div>
                        <div class="description">
                          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bob appreciated the friendly service!</p>
                        </div>
                      </div>
                    </div>
                    <button class="read-more">Read More</button>
                    <button class="read-less">Read Less</button>
                  </div>
                  <div class="itemc">
                    <div class="item">
                      <div class="top-content">
                        <div class="name">
                          <img src="https://i.ibb.co/qCkd9jS/img1.webp" alt="User" class="user-image">
                          <span class="user-name">Charlie</span>
                        </div>
                        <img src="https://icons-for-free.com/iff/png/512/color+google+media+network+social+icon-1320086080668511532.png" alt="Google" class="google-icon">
                      </div>
                      <div class="bottom-content">
                        <div class="stars">
                          <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                          <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                          <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                          <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                          <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                        </div>
                        <div class="description">
                          <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Charlie highly values their professional service!</p>
                        </div>
                      </div>
                    </div>
                    <button class="read-more">Read More</button>
                    <button class="read-less">Read Less</button>
                  </div>
                <!-- Navigation buttons -->
                <div class="button">
                  <button class="prev">◀</button>
                  <button class="next">▶</button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="carousel-container">
            <div class="carousel-track">
                <div class="carousel-slide">
                    <div class="slide-image">
                        <img src="https://i.ibb.co/qCkd9jS/img1.webp" alt="Slide 1">
                    </div>
                    <div class="slide-content">
                        <h2 class="slide-title">Title 1</h2>
                        <p class="slide-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="slide-image">
                        <img src="https://i.ibb.co/jrRb11q/img2.webp" alt="Slide 2">
                    </div>
                    <div class="slide-content">
                        <h2 class="slide-title">Title 2</h2>
                        <p class="slide-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="slide-image">
                        <img src="https://i.ibb.co/NSwVv8D/img3.webp" alt="Slide 3">
                    </div>
                    <div class="slide-content">
                        <h2 class="slide-title">Title 3</h2>
                        <p class="slide-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="slide-image">
                        <img src="https://i.ibb.co/Bq4Q0M8/img4.webp" alt="Slide 4">
                    </div>
                    <div class="slide-content">
                        <h2 class="slide-title">Title 4</h2>
                        <p class="slide-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="carousel-slide">
                    <div class="slide-image">
                        <img src="https://i.ibb.co/jTQfmTq/img5.webp" alt="Slide 5">
                    </div>
                    <div class="slide-content">
                        <h2 class="slide-title">Title 5</h2>
                        <p class="slide-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-buttons">
                <button class="carousel-prev"><i class="fa-solid fa-arrow-left"></i></button>
                <button class="carousel-next"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="slider-container">
            <h2 class="slider-heading">Our Simple Process</h2>
          
            <div class="slider-track">
                <!-- Step 1 -->
                <div class="slider-item">
                    <div class="slider-image">
                        <img src="/images/consultation.webp" alt="Step 1 Image">
                    </div>
                    <div class="slider-content">
                        <h3 class="step-title">Location 1</h3>
                        <h4 class="subheading">Getting Started</h4>
                        <p class="step-description">Begin with a free consultation. We will discuss your needs and plan accordingly.</p>
                    </div>
                </div>
          
                <!-- Step 2 -->
                <div class="slider-item reverse">
                    <div class="slider-content">
                        <h3 class="step-title">Location 2</h3>
                        <h4 class="subheading">Project Design</h4>
                        <p class="step-description">We create a detailed design plan and gather all necessary approvals.</p>
                    </div>
                    <div class="slider-image">
                        <img src="/images/design.webp" alt="Step 2 Image">
                    </div>
                </div>
          
                <!-- Step 3 -->
                <div class="slider-item">
                    <div class="slider-image">
                        <img src="/images/construction.webp" alt="Step 3 Image">
                    </div>
                    <div class="slider-content">
                        <h3 class="step-title">Location 3</h3>
                        <h4 class="subheading">Construction</h4>
                        <p class="step-description">Our team works to build your project according to the approved design.</p>
                    </div>
                </div>
          
                <!-- Step 4 -->
                <div class="slider-item reverse">
                    <div class="slider-content">
                        <h3 class="step-title">Location 4</h3>
                        <h4 class="subheading">Final Inspection</h4>
                        <p class="step-description">We inspect the project to ensure it meets your expectations and standards.</p>
                    </div>
                    <div class="slider-image">
                        <img src="https://www.petrosync.com/blog/wp-content/uploads/2024/01/inspection-engineers.png" alt="Step 4 Image">
                    </div>
                </div>
          
                <!-- Step 5 -->
                <div class="slider-item">
                    <div class="slider-image">
                        <img src="/images/kitchenimg5.webp" alt="Step 5 Image">
                    </div>
                    <div class="slider-content">
                        <h3 class="step-title">Location 5</h3>
                        <h4 class="subheading">Completion</h4>
                        <p class="step-description">Once everything is complete, we hand over the finished project for you to enjoy.</p>
                    </div>
                </div>
            </div>
          </div>
          
      <!DOCTYPE html>

      <h2 class="main-header">My Creative Layout</h2>
    
      <div class="page">
          <div class="text-panel">
              <h2>End-to-End Bathroom Design - Complete Renovation Experience</h2>
              <p>Together with your dedicated bathroom expert and skilled interior designer, we will comprehensively manage and execute the entire bathroom renovation process, ensuring your space not only looks amazing but also functions perfectly according to your needs.</p>
              <ul class="item-list">
                  <li>Thoroughly understand both your aesthetic preferences and practical needs</li>
                  <li>Assist you in defining a realistic and achievable budget</li>
                  <li>Take accurate and detailed measurements of your bathroom space to ensure precise planning</li>
                  <li>Design your bathroom layout down to the finest details, including cabinets, flooring, fixtures, and accessories</li>
                  <li>Select the highest quality materials, fittings, and furnishings, such as bathroom fixtures, tiles, flooring, lighting, and more</li>
              </ul>
          </div>
          <div class="image-panel">
              <img src="/images/bathroomimg6.webp" alt="End-to-End Bathroom Design">
          </div>
      </div>
      
      <div class="page">
          <div class="text-panel">
              <h2>Stunning Range of Bathroom Fittings - Elevating Your Bathroom</h2>
              <p>MyHome’s Midtown Manhattan showroom showcases an extensive and carefully curated collection of bathroom displays for you to choose from, featuring everything from traditional, timeless French Country designs to contemporary, sleek, and minimalist styles.</p>
              <ul class="item-list">
                  <li>Bathroom faucets in a variety of elegant models and mountings, including wall-mounted, deck-mounted, single-control, and double-control options</li>
                  <li>Bathroom sinks and vanities available in numerous styles, including wall-mounted, pedestals, countertops, and vessel sinks</li>
                  <li>Bathroom tiles and wall coverings in a wide array of suitable materials, such as ceramic, porcelain, glass, stone, wood, and metal</li>
                  <li>Shower enclosures and systems ranging from basic overhead or handheld shower heads to luxurious integrated rainwater shower heads with volume control and diverters</li>
                  <li>Toilets, including dual-flush, low-flush, luxury toilets, and modern bidets designed for maximum efficiency and comfort</li>
              </ul>
          </div>
          <div class="image-panel">
              <img src="/images/bathroomimg5.webp" alt="Bathroom Fittings">
          </div>
      </div>
      
      <div class="page">
          <div class="text-panel">
              <h2>Construction and Installation - Excellence in Every Step</h2>
              <p>Your dedicated Project Manager will oversee every stage of construction, guaranteeing the highest standards of craftsmanship and ensuring your project runs smoothly, from start to finish. We pride ourselves on quality, punctuality, and communication throughout the entire process.</p>
              <ul class="item-list">
                  <li>All labor comes with a comprehensive 5-year guarantee, ensuring peace of mind for years to come</li>
                  <li>Materials purchased from HomeUs come with a 5-year guarantee, ensuring long-lasting durability and performance</li>
                  <li>Your dedicated Project Manager serves as your single point of contact for all questions and issues, simplifying communication</li>
                  <li>Projects are consistently completed on time, within budget, and to the highest standards, ensuring customer satisfaction every time</li>
              </ul>
          </div>
          <div class="image-panel">
              <img src="/images/bathroomimg8.webp" alt="Construction and Installation">
          </div>
      </div>
      



      <div class="main-container">
        <h2>Three Divs Layout</h2>

        <div class="vertical-div">
            <div class="text-container">
                <h2>Title 1</h2>
                <p>This is a description for the first div.</p>
            </div>
            <div class="circular-image-container">
                <img src="https://via.placeholder.com/100" alt="Image 1">
            </div>
        </div>

        <div class="vertical-div">
            <div class="text-container">
                <h2>Title 2</h2>
                <p>This is a description for the second div.</p>
            </div>
            <div class="circular-image-container">
                <img src="https://via.placeholder.com/100" alt="Image 2">
            </div>
        </div>

        <div class="vertical-div">
            <div class="text-container">
                <h2>Title 3</h2>
                <p>This is a description for the third div.</p>
            </div>
            <div class="circular-image-container">
                <img src="https://via.placeholder.com/100" alt="Image 3">
            </div>
        </div>
    </div>
    
    <div class="header-section">
        <h2>Sample Heading</h2>
        <div class="content-container">
            <div class="content-block">
                <div class="text-line">
                    <span>Question 01</span>
                    <hr class="divider">
                </div>
                <div class="info-block">
                    <div class="title"><h3>How much does it cost to renovate a kitchen in NYC?</h3></div>
                    <div class="description">
                        <p>The average cost for kitchen remodeling in New York City ranges between $30,000 and $50,000, depending on the materials, design complexity, and labor involved. This includes demolition, plumbing, cabinetry, and installation of appliances. For a personalized estimate, feel free to call us at 212.555.1234.</p>
                    </div>
                </div>
            </div>
            <div class="content-block">
                <div class="text-line">
                    <span>Question 02</span>
                    <hr class="divider">
                </div>
                <div class="info-block">
                    <div class="title"><h3>What’s the cost to remodel a 6×8 bathroom?</h3></div>
                    <div class="description">
                        <p>Remodeling a 6×8 bathroom typically costs between $28,000 and $38,000. Costs may vary based on materials, plumbing, and layout adjustments. For more specific pricing, contact a MyHome Renovation Specialist at 212.555.5678 for an in-depth consultation.</p>
                    </div>
                </div>
            </div>
            <div class="content-block">
                <div class="text-line">
                    <span>Question 03</span>
                    <hr class="divider">
                </div>
                <div class="info-block">
                    <div class="title"><h3>How long does a kitchen remodel typically take?</h3></div>
                    <div class="description">
                        <p>The duration of a kitchen renovation project varies based on scope, but most projects take between 5 to 8 weeks to complete. This includes demolition, installation of new fixtures, and final finishing. To discuss your specific project timeline, call our team at 212.555.7890.</p>
                    </div>
                </div>
            </div>
            <div class="content-block">
                <div class="text-line">
                    <span>Question 04</span>
                    <hr class="divider">
                </div>
                <div class="info-block">
                    <div class="title"><h3>What factors influence the cost of a home renovation?</h3></div>
                    <div class="description">
                        <p>The total cost of a home renovation depends on various factors such as the size of the space, the complexity of the design, material quality, labor costs, and additional services like plumbing or electrical work. For more information on cost factors, call us at 212.555.9876 for a detailed quote.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veritatis placeat ducimus accusamus autem voluptate at amet nam doloribus debitis sapiente quo consequatur exercitationem culpa, recusandae, rerum sunt ex ipsam?</p>
    <div class="container">
        <div class="trapezium-shape"></div>
        <div class="text-container">
            <h2>Title of the Section</h2>
            <p>This is the first paragraph providing details.</p>
            <p>This is the second paragraph giving additional information.</p>
        </div>
    </div>
    <h2 class="section-heading">Featured Content</h2>
    <div class="content-wrapper">
        <div class="text-box">
            <p class="text-paragraph-one">This is the first paragraph, providing a brief introduction to the content.</p>
            <p class="text-paragraph-two">This is the second paragraph, offering additional information.</p>
        </div>
        <div class="octagon-frame">
            <img src="https://via.placeholder.com/150" alt="Example Image" class="octagon-image">
        </div>
    </div>
    <div class="unique-container">
        <h2 class="unique-title">Our Gallery</h2>
        <div class="flex-row-container">
            <div class="unique-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image" class="unique-image">
                <p class="unique-description">Description of image 1</p>
            </div>
            <div class="unique-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image" class="unique-image">
                <p class="unique-description">Description of image 2</p>
            </div>
            <div class="unique-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image" class="unique-image">
                <p class="unique-description">Description of image 3</p>
            </div>
            <div class="unique-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image" class="unique-image">
                <p class="unique-description">Description of image 4</p>
            </div>
        </div>
    </div>
    <div class="main-gallery-container">
        <h2 class="main-title">Our Gallery</h2>
    
        <div class="gallery-row">
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 1" class="gallery-image">
                <p class="gallery-description">Description of image 1</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 2" class="gallery-image">
                <p class="gallery-description">Description of image 2</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 3" class="gallery-image">
                <p class="gallery-description">Description of image 3</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 4" class="gallery-image">
                <p class="gallery-description">Description of image 4</p>
            </div>
        </div>
    
        <div class="gallery-row">
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 5" class="gallery-image">
                <p class="gallery-description">Description of image 5</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 6" class="gallery-image">
                <p class="gallery-description">Description of image 6</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 7" class="gallery-image">
                <p class="gallery-description">Description of image 7</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 8" class="gallery-image">
                <p class="gallery-description">Description of image 8</p>
            </div>
        </div>
    
        <div class="gallery-row">
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 9" class="gallery-image">
                <p class="gallery-description">Description of image 9</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 10" class="gallery-image">
                <p class="gallery-description">Description of image 10</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 11" class="gallery-image">
                <p class="gallery-description">Description of image 11</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 12" class="gallery-image">
                <p class="gallery-description">Description of image 12</p>
            </div>
        </div>
    
        <div class="gallery-row">
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 13" class="gallery-image">
                <p class="gallery-description">Description of image 13</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 14" class="gallery-image">
                <p class="gallery-description">Description of image 14</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 15" class="gallery-image">
                <p class="gallery-description">Description of image 15</p>
            </div>
            <div class="gallery-box">
                <img src="https://via.placeholder.com/150" alt="Sample Image 16" class="gallery-image">
                <p class="gallery-description">Description of image 16</p>
            </div>
        </div>
    </div>
   <script src="bathroom.js"></script>
</body>
