<% layout("/layouts/boilerplate") -%>
<head>
   <link rel="stylesheet" href="hr.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="home-bg-img">
        <%- include("includes/header") %>
        <div class="main">
            <h2>Home <br>Renovation <br> Experts in NYC</h2>
            <h4>Renovate in NYC with the experts. Specializing in kitchens, bathrooms and full home remodels.</h4>
            <button>Get An Estimate</button>
        </div>
        <div class="ratings">
            <span>
                Google
                <i class="fa-solid fa-star fa-xl" style="color: #ffffff;"></i><i class="fa-solid fa-star fa-xl" style="color: #ffffff;"></i><i class="fa-solid fa-star fa-xl" style="color: #ffffff;"></i><i class="fa-solid fa-star fa-xl" style="color: #ffffff;"></i><i class="fa-solid fa-star fa-xl" style="color: #ffffff;"></i>
            </span>
        </div>
    </div>
    <div class="bg">
      <div class="faqpage">
        <div class="faqhead">
            <h2>Our Principles</h2>
        </div>
        <div class="faqcontent">
            <div class="faq">
              <div class="faqs">
                <div class="faq1">
                  <div class="faqques">
                    <div class="faqquescont">
                      <p>
                        What is the typical timeline for seeing results?
                      </p>
                    </div>
                    <div class="faqimg">
                      <div class="icon-container">
                        <div class="plus-icon"></div>
                      </div>
                    </div>
                  </div>
                  <div class="faqans">
                    <p>Project timelines vary depending on the complexity, but clients can expect an initial review of the solution within 1-4 weeks.</p>
                  </div>
                </div>
                <div class="faq1">
                  <div class="faqques">
                    <div class="faqquescont">
                      <p>Can you work with our existing tools and data infrastructure?</p>
                    </div>
                    <div class="faqimg">
                      <div class="icon-container">
                        <div class="plus-icon"></div>
                      </div>
                    </div>
                  </div>
                  <div class="faqans">
                    <p>Yes, the solutions can integrate with your current tools and data infrastructure. The implementation methods are designed to fit seamlessly into existing systems, ensuring minimal disruption and maximum efficiency.</p>
                  </div>
                </div>
                <div class="faq1">
                  <div class="faqques">
                    <div class="faqquescont">
                      <p>Do you offer alternative pricing plans?</p>
                    </div>
                    <div class="faqimg">
                      <div class="icon-container">
                        <div class="plus-icon"></div>
                      </div>
                    </div>
                  </div>
                  <div class="faqans">
                    <p>Yes, there are flexible pricing plans based on the project's scope. When the complexity of a project is unclear, a rate of $50 per hour is available.</p>
                  </div>
                </div>
                <div class="faq1">
                  <div class="faqques">
                    <div class="faqquescont">
                      <p>What is included in the initial consultation?</p>
                    </div>
                    <div class="faqimg">
                      <div class="icon-container">
                        <div class="plus-icon"></div>
                      </div>
                    </div>
                  </div>
                  <div class="faqans">
                    <p>The initial consultation includes a discussion of the client’s business objectives, challenges, and data needs. This session helps to define the scope of the project, identify key requirements, and outline the approach for developing a tailored solution.</p>
                  </div>
                </div>
                <div class="faq1">
                  <div class="faqques">
                    <div class="faqquescont">
                      <p>How do you handle data privacy and security?</p>
                    </div>
                    <div class="faqimg">
                      <div class="icon-container">
                        <div class="plus-icon"></div>
                      </div>
                    </div>
                  </div>
                  <div class="faqans">
                    <p>DataRise Solutions is committed to maintaining the highest standards of data privacy and security. All data is handled with strict confidentiality, and robust measures are implemented to protect sensitive information throughout the project lifecycle.</p>
                  </div>
                </div>
                <div class="faq1">
                  <div class="faqques">
                    <div class="faqquescont">
                      <p>How do you handle data privacy and security?</p>
                    </div>
                    <div class="faqimg">
                      <div class="icon-container">
                        <div class="plus-icon"></div>
                      </div>
                    </div>
                  </div>
                  <div class="faqans">
                    <p>DataRise Solutions is committed to maintaining the highest standards of data privacy and security. All data is handled with strict confidentiality, and robust measures are implemented to protect sensitive information throughout the project lifecycle.</p>
                  </div>
                </div>
                
              </div>
              <div class="faqimage">
                <img src="/images/employee.jpg" alt="FAQ Image 1" >
                <img src="/images/expert.jpg" alt="FAQ Image 2" >
                <img src="/images/material.jpg" alt="FAQ Image 1">
                <img src="/images/trust.jpg" alt="FAQ Image 1" >
                <img src="/images/work.jpg" alt="FAQ Image 1" >
                <img src="/images/employees.jpg" alt="FAQ Image 1">
                
              </div>
            </div>
          </div>
    </div>
    <div class="rate">
        <div class="container1">
          <div class="button2">
            <button class="previous"><i class="fa-solid fa-arrow-left"></i></button>
          </div>
            
            <div class="re">
              <span class="ex">Excellent</span>
              
              <div class="icons"> 
                 <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i><i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i><i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i><i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i><i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
              </div>
              
              <span class="rev">Based on <b>100 Reviews</b></span>
              
              <div class="google-logo">
                <span class="g">G</span>
                <span class="o1">o</span>
                <span class="o2">o</span>
                <span class="g2">g</span>
                <span class="l">l</span>
                <span class="e">e</span>
              </div>
            </div>
            <div class="slide">
              <!-- Item 1 -->
              <div class="item">
                <div class="top-content">
                  <div class="name">
                    <img src="https://i.ibb.co/qCkd9jS/img1.jpg" alt="User" class="user-image">
                    <span class="user-name">Alice</span>
                  </div>
                  
                  <img src="https://icons-for-free.com/iff/png/512/color+google+media+network+social+icon-1320086080668511532.png" class="google-icon">
                </div>
                <div class="bottom-content">
                  <div class="stars">⭐⭐⭐⭐⭐</div>
                  <div class="description">
                    <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam cumque excepturi, pariatur velit, illum adipisci repellendus aliquid inventore accusantium, quibusdam laboriosam saepe amet architecto ipsum eveniet sit modi non sequi?
                    Animi quia dolores deleniti temporibus optio sed quaerat ipsum ab magni quasi quae tenetur reiciendis, suscipit obcaecati cupiditate atque nihil! Molestias quibusdam totam rerum asperiores, assumenda vitae fugiat nostrum. Vero?
                    Sed sequi in magni, corrupti hic temporibus culpa fuga dignissimos a praesentium quisquam similique nostrum vitae quos sapiente aliquid cupiditate commodi est aliquam, blanditiis odio? Dolorem reiciendis doloremque esse beatae?
                    Cupiditate nulla dolorum distinctio dolores! Quidem, quod delectus? Asperiores magni odio iusto fuga perspiciatis praesentium libero ullam. Impedit eveniet modi ipsam nihil natus inventore corrupti mollitia, soluta voluptatum, at laudantium!Alice loved the service! Highly recommended for anyone looking for quality and reliability. Lorem ipsum dolor sit amet...</p>
                    
                  </div>
                </div>
                <button class="read-more">Read More</button>
                <button class="read-less">Read less</button>
              </div>
            
              <!-- Item 2 -->
              <div class="item">
                <div class="top-content">
                  <div class="name">
                    <img src="https://i.ibb.co/jrRb11q/img2.jpg" alt="User" class="user-image">
                    <span class="user-name">Bob</span>
                  </div>
                 
                  <img src="https://icons-for-free.com/iff/png/512/color+google+media+network+social+icon-1320086080668511532.png" class="google-icon">

                </div>
                <div class="bottom-content">
                  <div class="stars">⭐⭐⭐⭐</div>
                  <div class="description">
                    <p class="text"> Lorem ipsum dolor sit amet...</p>
                    
                  </div>
                </div>
                <button class="read-more">Read More</button>
                <button class="read-less" >Read less</button>
              </div>
            
              <!-- Item 3 -->
              <div class="item">
                <div class="top-content">
                  <div class="name">
                    <img src="https://i.ibb.co/NSwVv8D/img3.jpg" alt="User" class="user-image">
                  <span class="user-name">Charlie</span>
                  </div>
                  
                  <img src="https://icons-for-free.com/iff/png/512/color+google+media+network+social+icon-1320086080668511532.png" class="google-icon">

                </div>
                <div class="bottom-content">
                  <div class="stars">⭐⭐⭐</div>
                  <div class="description">
                    <p class="text">Charlie thought the service was average. Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                    
                  </div>
                </div>
                <button class="read-more">Read More</button>
                <button class="read-less" >Read less</button>
              </div>
            
              <!-- Item 4 -->
              <div class="item">
                <div class="top-content">
                  <div class="name">
                    <img src="https://i.ibb.co/Bq4Q0M8/img4.jpg" alt="User" class="user-image">
                  <span class="user-name">Diana</span>
                  </div>
                  
                  <img src="https://icons-for-free.com/iff/png/512/color+google+media+network+social+icon-1320086080668511532.png" class="google-icon">

                </div>
                <div class="bottom-content">
                  <div class="stars">⭐⭐⭐⭐⭐</div>
                  <div class="description">
                    <p class="text">Diana was thrilled with the excellent customer service and quality. Lorem ipsum dolor sit amet...</p>
                    
                  </div>
                </div>
                <button class="read-more">Read More</button>
                <button class="read-less" >Read less</button>
              </div>
            
              <!-- Item 5 -->
              <div class="item">
                <div class="top-content">
                  <div class="name">
                    <img src="https://i.ibb.co/jTQfmTq/img5.jpg" alt="User" class="user-image">
                  <span class="user-name">Eve</span>
                  </div>
                  
                  <img src="https://icons-for-free.com/iff/png/512/color+google+media+network+social+icon-1320086080668511532.png" class="google-icon">

                </div>
                <div class="bottom-content">
                  <div class="stars">⭐⭐⭐⭐</div>
                  <div class="description">
                    <p class="text">Eve had a very positive experience, but noted some minor issues. Lorem ipsum dolor sit amet...</p>
                    
                  </div>
                </div>
                <button class="read-more">Read More</button>
                <button class="read-less" >Read less</button>
              </div>
            
              <!-- Item 6 -->
              <div class="item">
                <div class="top-content">
                  <div class="name">
                    <img src="https://i.ibb.co/RNkk6L0/img6.jpg" alt="User" class="user-image">
                  <span class="user-name">Frank</span>
                  </div>
                  
                  <img src="https://icons-for-free.com/iff/png/512/color+google+media+network+social+icon-1320086080668511532.png" class="google-icon">

                </div>
                <div class="bottom-content">
                  <div class="stars">⭐⭐⭐⭐⭐</div>
                  <div class="description">
                    <p class="text">Frank is incredibly satisfied with the service and highly recommends it to others. Lorem ipsum dolor sit amet...</p>
                    
                  </div>
                </div>
                <button class="read-more">Read More</button>
                <button class="read-less" >Read less</button>
              </div>
              
            </div>
            <div class="button1">
              <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
          </div>
    
            
        </div>
    </div>
    <div class="rate1">
        <div class="container1">

            <div class="slide">
    
                
                <div class="item" style="background-image: url(https://i.ibb.co/qCkd9jS/img1.jpg);">
                    <div class="content">
                        <div class="name">1</div>
                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                        <button>See More</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(https://i.ibb.co/jrRb11q/img2.jpg);">
                    <div class="content">
                        <div class="name">2</div>
                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                        <button>See More</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(https://i.ibb.co/NSwVv8D/img3.jpg);">
                    <div class="content">
                        <div class="name">3</div>
                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                        <button>See More</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(https://i.ibb.co/Bq4Q0M8/img4.jpg);">
                    <div class="content">
                        <div class="name">4</div>
                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                        <button>See More</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(https://i.ibb.co/jTQfmTq/img5.jpg);">
                    <div class="content">
                        <div class="name">5</div>
                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                        <button>See More</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(https://i.ibb.co/RNkk6L0/img6.jpg);">
                    <div class="content">
                        <div class="name">6</div>
                        <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                        <button>See More</button>
                    </div>
                </div>
    
            </div>
    
            <div class="button">
               
                <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="maincontainer">
      <h2>Gallery</h2>
      <a href="#">
          <div class="flex-container">
              <div class="card">
                  <img src="https://via.placeholder.com/150" alt="Image 1">
                  <h4>Title 1</h4>
                  <p>Description for Image 1</p>
              </div>
              <div class="card">
                  <img src="https://via.placeholder.com/150" alt="Image 2">
                  <h4>Title 2</h4>
                  <p>Description for Image 2</p>
              </div>
              <div class="card">
                  <img src="https://via.placeholder.com/150" alt="Image 3">
                  <h4>Title 3</h4>
                  <p>Description for Image 3</p>
              </div>
          </div>
      </a>
  </div>
  <div class="gallery-container">
    <!-- Header section with title and description -->
    <div class="header-content">
        <h2 class="gallery-title">Image Gallery</h2>
        <p class="gallery-description">This is a collection of images arranged in rows. Hover over each image to zoom in.</p>
    </div>
    
    <!-- Image gallery section -->
    <div class="gallery-grid">
        <!-- Row 1 -->
        <div class="gallery-row">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 1">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 2">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 3">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 4">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 5">
        </div>
        <!-- Row 2 -->
        <div class="gallery-row">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 6">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 7">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 8">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 9">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 10">
        </div>
        <!-- Row 3 -->
        <div class="gallery-row">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 11">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 12">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 13">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 14">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 15">
        </div>
        <!-- Row 4 -->
        <div class="gallery-row">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 16">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 17">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 18">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 19">
            <img class="gallery-image" src="https://via.placeholder.com/100" alt="Image 20">
        </div>
    </div>
    <button>Get An Estimate</button>
</div>
<div class="carousel-container">
  <div class="carousel-track">
      
      <div class="carousel-slide">
          <div class="slide-image">
              <img src="https://i.ibb.co/qCkd9jS/img1.jpg" alt="Slide 1">
          </div>
          <div class="slide-content">
              <h2 class="slide-title">Title 1</h2>
              <p class="slide-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
          </div>
      </div>
    
      <div class="carousel-slide">
          <div class="slide-image">
              <img src="https://i.ibb.co/jrRb11q/img2.jpg" alt="Slide 2">
          </div>
          <div class="slide-content">
              <h2 class="slide-title">Title 2</h2>
              <p class="slide-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
          </div>
      </div>
      
      <div class="carousel-slide">
          <div class="slide-image">
              <img src="https://i.ibb.co/NSwVv8D/img3.jpg" alt="Slide 3">
          </div>
          <div class="slide-content">
              <h2 class="slide-title">Title 3</h2>
              <p class="slide-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
          </div>
      </div>
      
      <div class="carousel-slide">
          <div class="slide-image">
              <img src="https://i.ibb.co/Bq4Q0M8/img4.jpg" alt="Slide 4">
          </div>
          <div class="slide-content">
              <h2 class="slide-title">Title 4</h2>
              <p class="slide-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
          </div>
      </div>
      
      <div class="carousel-slide">
          <div class="slide-image">
              <img src="https://i.ibb.co/jTQfmTq/img5.jpg" alt="Slide 5">
          </div>
          <div class="slide-content">
              <h2 class="slide-title">Title 5</h2>
              <p class="slide-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
          </div>
      </div>
  </div>

  <div class="carousel-buttons">
    
      <button class="carousel-next"><i class="fa-solid fa-arrow-right"></i></button>
  </div>
</div>
  
<div class="formpage">
  <div class="social-container">
    <h2>Follow Us</h2>
    <p>Stay connected with us through social media for the latest updates and news.</p>
    
    <!-- Action Links -->
    <a href="#" class="action-link">Learn More</a>
    <a href="#" class="action-link">Contact Us</a>

    <!-- Social Icons Container -->
    <div class="icon-container">
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <div class="slanted-container">
    <form class="form-grid">
        <div class="form-group half">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group half">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" placeholder="Last Name">
        </div>
        <div class="form-group full">
            <label for="phone">Phone Number</label>
            <input type="tel" id="phone" placeholder="Phone Number">
        </div>
        <div class="form-group full">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Email">
        </div>
        <div class="form-group full">
            <label for="message">Message</label>
            <textarea id="message" rows="3" placeholder="Your Message"></textarea>
        </div>
        <div class="form-group full">
            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
  </div>
</div>
<div class="review-section">
  <h2 class="review-heading">Customer Reviews</h2>
  <div class="review-container">
      <!-- Trapezium pointing right with Image -->
      <div class="trapezium-right">
          <img src="https://via.placeholder.com/150" alt="Customer" class="customer-image">
      </div>
      
      <!-- Trapezium pointing left with Stars and Text -->
      <div class="trapezium-left">
          <div class="star-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <p class="review-text">Outstanding service and quality!</p>
          <p class="review-subtext">A must-try for everyone looking for great value.</p>
      </div>

      <!-- Rectangle with Stars and Text -->
      <div class="rectangle-text">
          <div class="rating-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <p class="feedback-text">Excellent product and support.</p>
          <p class="feedback-subtext">I’ll definitely buy again!</p>
      </div>
  </div>
</div>
    </div>
    

    <script src="hr.js"></script>
</body>
